.container{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: black;
  animation: changeBG 1s linear infinite;
}

@keyframes changeBG{
  to{
    filter: hue-rotate(360deg);
  }
}

.loader{

width: 30px;
height: 30px;
position: absolute;
top: calc(50% - (15px));
left: calc(50% - (15px));
border-radius: 50%;
animation: x-axis 1s ease-in-out alternate infinite;
}

@keyframes x-axis {
0% { transform: translate(-60px);};
100%{transform: translate(60px);};

}

.loader::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: #fff;
  border-radius: 50%;
  box-shadow: 3px 3px red, -1em 0 0.4em olive;
  }