.cart{
  background-color: rgb(243, 243, 243);
    color: black;
    border: 2px solid #2410d6; /* Green */
    font-size: 32px;
    margin: 15px 20px;
    width: 330px; 
    border-radius: 15px;
    display: inline-flex;
    height: 260px;

}
.cart:hover {background-color: #17046d;
color: white;}