.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.411);
    transition: 0.3s;
    width: 20%;
  }

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .container div {
    padding: 5px 16px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: left;
    
    
   
  }
  img{
    height: 250px;
    width: 250px;
    
  }
  .card button {
    border: none;
    outline: 2;
    padding: 12px;
    color: rgb(168, 2, 2);
    background-color: rgb(16, 54, 179);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }