.cart{
  background-color: rgb(243, 243, 243);
    color: black;
    margin: 15px 20px;
    width: 330px; 
    border-radius: 15px;
    display: inline-flex;
   

}
.cart:hover {background-color: #17046d;
color: white;}

.container-detail {
  position: relative;
  margin: 50px;
}
.image{
  text-align: center;
  width: 50%;
  padding: 30px;
}
.productDescription{
  text-align: justify;
}